# object files
*.o
*.lo
*.slo
*.obj

# from MacOSX
.DS_Store

# GDB
.gdb_history

# Emacs backup files
*~

# Vim
.*.swp

# precompiled headers
*.gch
*.pch

# dynamic libraries
*.so
*.dylib
*.dll

# static libraries
*.a
*.la
*.lai
*.lib

# executables
*.app
*.exe
*.out

# cmake
build

# IntelliJ
.idea/

# MacPorts
PortIndex*
